<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home page</title>
  </head>
  <body>
    <%-include("./partials/header.ejs",{title:"Home Page"})%>
    <div>Welcome to this Site to Shopping</div>
    <%-include("./partials/footer.ejs")%>
  </body>
</html>
