<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <h1>Posts</h1>
    <form action="" class="add-post-form">
      <label for="title">Title:</label><br />
      <input type="text" id="title" name="title" />
      <button type="submit">Add Post</button>
    </form>
    <button type="button" class="get-posts-btn">Get Posts</button>
    <div class="output"></div>
    <script src="JS/main.js"></script>
  </body>
</html>
