<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Hello User</h1>
    <!-- not to render obj or array -->
    <!-- <%= articles[0]%> -->
    <!-- <%=articles[0].title%> -->

    <%for(article of articles){%>
    <div>
      <h1><%=article.title%></h1>
    </div>
    <%}%>
  </body>
</html>
